* {
  padding: o;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.center {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: rgb(16, 46, 46);
  padding: 20px 0;

  border-bottom: 3px solid rgb(143, 143, 225);
}

.logo {
  color:rgb(16, 46, 46);
  text-align: left;
  font-size: 50px;
  padding: 5px;
  margin:0;
  background-color: rgb(225, 93, 11);
  border-radius: 50%;
  border: red;

}
.logo h2 {
  font-weight: normal;
  font-size: 18px;top: 10px;
}
.menu {
  width: 80%;
  text-align: right;

}

 a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  
  transition: 0.5s;
}

.menu a:hover {
  color: rgb(16, 46, 46);
}

.menu .btn-menu {
  background-color: rgb(225, 93, 11);
  display: inline-block;
  padding: 11px 26px;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  margin-right: 20px;
}

menu .btn-menu::hover {
  background-color: rgb(16, 46, 46);
  color: white;
}

/*section main*/

section.main {
  background-image: url(abstract_low_poly_technology_banner_design_2507.jpg);
  padding: 70px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main_cta {
  width: 100%;
  margin: 60px 0;
  text-align: center;
}

.main_cta h2 {
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.main_cta p {
  color: rgb(23, 17, 17);
  font-size: 19px;
  margin: 10px 0;
}

.main_cta button {
  background-color: rgb(225, 93, 11);
  display: inline-block;
  padding: 12px 70px ;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
  
}
.main_cta button::hover {
  background-color: rgb(16, 46, 46);
  color: white;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.diferencial-single {
  background-color: white;
  width: 23%;
  margin-right: 2%;
  padding: 50px 20px;
  padding: 50px 20px;
  border-radius: 10px;
}

.diferencial-single i {
  color: rgb(16, 46, 46);
  font-size: 23px;
}

.deferencial-single h2 {
  color: rgb(16, 46, 46);;
  margin: 10px 0;
  font-size: 17px;
}

.diferencial-single p {
  color: gray;
  font-size: 14px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .diferencial-single {
    width: 100%;
    margin-bottom: 20px;
  }
}
